{{#post}}
  <div class="site-background">
    {{#if feature_image}}
      <img class="feature-image" src="{{feature_image}}" />
    {{else}}
      {{#if @site.cover_image}}
        <img class="site-cover-image" src="{{@site.cover_image}}" />
      {{/if}}
    {{/if}}
  </div>
{{/post}}
