<nav class="social-links">
  {{#if @site.facebook}}
      <a class="social-link-fb" href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank">{{> icons/facebook}}</a>
  {{/if}}
  <a class="social-link-insta" href="" title="Follow Seam Project on Instagram" target="_blank">{{> icons/instagram}}</a>
</nav>
