{{!-- Email subscribe form at the bottom of the page --}}
{{#if @labs.subscribers}}
<section class="subscribe-form">
    <h3 class="subscribe-form-title">Subscribe to {{@site.title}}</h3>
    <p>Get the latest posts delivered right to your inbox</p>
    {{subscribe_form placeholder="youremail@example.com"}}
</section>
{{/if}}
