<nav class="top-nav">
    <a class="top-nav-logo" href="{{@site.url}}">{{> icons/seam-logo }}</a>
    <div class="links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Past shows</a>
      {{> social-links }}      
      <a href="#" class="menu-link">☰</a>
    </div>
  {{!-- {{#if @site.navigation}}
      {{navigation}}
  {{/if}} --}}
</nav>
