<nav class="top-nav">
    <a class="top-nav-logo" href="{{@site.url}}">{{> icons/seam-logo }}</a>
    <div class="links">
      {{#if @site.navigation}}
          {{navigation}}
      {{/if}}
      {{> social-links }}
    </div>
    <a href="#" class="menu-link">☰</a>
  {{!-- {{#if @site.navigation}}
      {{navigation}}
  {{/if}} --}}
</nav>
