body {
  font-family: 'PT Sans', serif;
  line-height: 1.2;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Wigrum';
}

a:link,
a:visited {
  color: @color-light;
  text-decoration: none;
}

html:not(.wf-active) {
  visibility: hidden;
}

.center {
  text-align: center;
}
