@color-dark: #000;
@color-light: #fff;

@color-gray-dark: #222;
@color-blue: #365D96;
@color-turquoise: #58848B;
@color-pale-turquoise: #007a7b;
@color-background-dark: rgba(0,0,0,0.7);
@color-pink: #d5acb4;
@color-red: #e42e19;
@color-orange: #fb9c37;
@color-yellow: #ffdd6f;
@color-purple: #661564;
@color-purple-dark: #3B0839;
