{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The main content area --}}
{{#post}}
  <main id="site-main" class="site-main outer">
    <div class="post-title">
      <h1>{{title}}</h1>
    </div>
    <div class="post-inner">
      {{> post-content}}
    </div>
  </main>
{{/post}}

{{> site-background}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
{{/contentFor}}
