{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}
{{#tag}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">

  <div class="title">
    <h1>{{name}}</h1>
  </div>

  <div class="inner">
    <div className="post-header">
      {{#if description}}
        <h2 class="site-description">
          {{description}}
        </h2>
      {{/if}}
    </div>

{{/tag}}

    <div class="post-feed">
      {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> post-card}}
      {{/foreach}}
    </div>

  </div>
</main>

{{#tag}}

  <div class="site-background">
    {{#if feature_image}}
      <img src="{{feature_image}}" />
    {{/if}}
  </div>

{{/tag}}
