.site-header {
  background: rgb(17,17,17);
  background: linear-gradient(180deg, rgba(17,17,17,0.8) 0%, rgba(17,17,17,0.8) 80%, rgba(17,17,17,0) 100%);

  .top-nav {
    display: flex;
    .top-nav-logo {
      display: block;
      padding: 0.5rem;
      svg {
        fill: @color-light;
        height: 60px;
        transition: fill 0.1s ease-in-out;
      }
    }
  }
}
